{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout de la categorie :</h1>
    <form method="post">
        <input type="categorie" name="icone">


        <input type="categorie" name="libelle" >

        </select>
        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}