{% extends "base.html.twig" %}

{% block body %}
    <h1>Modification de l'article "{{ categorie.libelle }}"</h1>
    <form method="post">
        <input type="categorie" name="libelle" value="{{ categorie.libelle }}">
        <input type="categorie" name="icone" value="{{ categorie.icone }}">


        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}